

/* general styles */
header.navbar {
	background: #fc6840;
	.navbar-header {
		background: #fff;
		.navbar-brand {
			margin: 0px;
			padding: 7px;
			vertical-align: middle;
		}
	}
	.nav {
		background: #fc6840;
		li {
			height: 42px;
			a {
				font-family: 'BebasNeue';
				font-size: 20px;
				color: #fff;
				padding: 0px 10px;
				line-height: 40px;
				padding-top: 2px;
				vertical-align: middle;
			}
			&:hover {
				background: lighten(#fc6840, 5%);
				.avatar img {
					border: 1px solid #333;
				}
			}
		}
	}
	a {
		cursor: pointer;
		&.avatar {
			img {
				width: 28px;
				border-radius: 100%;
				border: 1px solid white;
				margin-right: 3px;
			}
		}
	}
}
.main-container {
	.sidebar-container {
		z-index: 2;
		position: relative;
		background: white;
		.sidebar {
			.sidebar-header {
				background: #645051;
				color: #fff;
				h3 {
					margin: 0px;
					padding: 10px 15px;
					font-family: 'BebasNeue';
					a, a:hover {
						color: #fff;
					}
					> .fa {
						color: #fc6842;
						font-size: 0.8em;
						margin-right: 3px;
						vertical-align: middle;
					}
				}
			}
			.sidebar-selector {
				.btn {
					border-radius: 0px!important;
				}
			}
			.sidebar-content {
				padding: 20px;
			}
		}
	}
	.page-container {
		z-index: 2;
		position: relative;
		> .page-content {
			padding: 20px;
			background: white;
			h3 {
		  		font-family: 'BebasNeue';
				border-bottom: 1px solid;
				margin: 0px;
				margin-bottom: 20px;
			}
		}
		&:empty {
			display: none;
		}
	}
	.angular-google-map, .angular-google-map-container {
		width: 100%;
		height: 100%;
	}
	.map-container {
		position: fixed;
		top: 131px;
		left: 0px;
		right: 0;
		bottom: 0;
		z-index: 0;
		margin: 0;
		.map-content {
			position: relative;
			width: 100%;
			height: 100%;
			.map-crosshairs {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -10px;
				margin-left: -6px;
				z-index: 1;
			}
		}
	}
}

/* phone only */
@media only screen and (max-width : 767px) {
	.main-container {
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		position: absolute;
		background: white;
		padding-top: 50px;
		.map-container {
			z-index: -99;
			&.toggled {
				z-index: 99;
			}
		}
	}
}



/* big devices */
@media only screen and (min-width : 768px) {
	header.navbar {
		background: none!important;
		border: 0px;
		top: 20px;
		left: 25px;
		right: 20px;
		.navbar-brand {
			padding: 3px 7px 2px 7px!important;
			height: 42px;
		}
	}
	.main-container {
	  	.sidebar-container {
			width: 350px;
			position: fixed;
			top: 80px;
			left: 40px;
			bottom: 20px;
			z-index: 99;
			.sidebar {
				position: relative;
				width: 100%;
				height: 100%;
				.sidebar-header {
					top: 0;
					left: 0;
					width: 100%;
					position: absolute;
			  	}
			  	.sidebar-content {
					overflow-y: auto;
			  		position: absolute;
			  		top: 46px;
			  		bottom: 0px;
			  		width: 100%;
			  	}
			}
		}
		.page-container {
			left: 410px;
			top: 80px;
			bottom: 20px;
			right: 20px;
			z-index: 99;
			position: fixed;
			> .page-content {
				width: 100%;
				height: 100%;
				overflow-y: auto;
				> h3 {
					width: 100%;
				}
			}
			
		}
		.map-container {
			top: 0px;
		}
		
		
	}
}

