	<div class="row">
    	<div class="col-sm-8">
        	<h2>Какво е Grada.me</h2>
			<br/>
            <p>
            	Искрено вярваме, че всеки един от нас може да промени средата, в която живее, бъдейки активен гражданин и допринасяйки малко по малко към общото благо.
			</p>
			<p>
				С цел да улесним и да насърчим гражданската активност при решаването на проблемите в градската среда създадохме инструмент, който позволява бързо и лесно:
			</p>
			<br/>
			<div class="row">
				<a class="col-xs-4 text-center text-success" data-ui-sref="signals-new">
					<div style="font-size: 48px; margin: 10px;" class="fa fa-cloud-upload"></div>
					<h4>Подай сигнал за нередност</h4>
				</a>
				<a class="col-xs-4 text-center text-info" data-ui-sref="signals">
					<div style="font-size: 48px; margin: 10px;" class=" fa fa-map-marker"></div>
					<h4>Информирай се за проблемите около теб</h4>	
				</a>
				<a class="col-xs-4 text-center text-primary " data-ui-sref="home">
					<div style="font-size: 48px; margin: 10px;" class="fa fa-users"></div>
					<h4>Следи и участвай в решаването им</h4>
				</a>
				
			</div>
			
		<!-- Begin MailChimp Signup Form --\>
		<div id="mc_embed_signup">
			<h3>Абонирайте се за новини</h3>
			<form action="http://grada.us3.list-manage.com/subscribe/post?u=ac1569deed068de44c9848ec5&amp;id=e7dd15db4a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
			class="validate form-horizontal" target="_blank" novalidate="" role="form">
			  
			  <div class="mc-field-group form-group">
				<label for="mce-FNAME" class="col-sm-2 control-label">Име:</label>
				<div class="col-sm-8">
					<input type="text" value="" name="FNAME" placeholder="Иван Петров"
					class="form-control" id="mce-FNAME">
				</div>
			  </div>
			  <div class="mc-field-group form-group">
				<label for="mce-EMAIL" class="col-sm-2 control-label">Email:<span class="asterisk"></span>
				</label>
				<div class="col-sm-8">
					<input type="email" value="" name="EMAIL" placeholder="ivan@petrov.com" 
					class="form-control required email" id="mce-EMAIL">
				</div>
			  </div>
			  <div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			  </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--\>
			  <div style="position: absolute; left: -5000px;"><input type="text" name="b_ac1569deed068de44c9848ec5_e7dd15db4a" value=""></div>
			  <div class="form-group">
				  <div class="col-sm-offset-2 col-sm-8">
				  	<input type="submit" value="Абонирай се" 
					  name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
				  </div>
			  </div>
				  
			</form>
		  </div>
	
		  <!--End mc_embed_signup-->
            
        </div>
		
		<div class="col-sm-4">
			<br/>
			<h4>Последно решени проблеми</h4>
			<ul class="media-list"> 
				<li class="media">
				  <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
					<!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
				  </a>
				  <div class="media-body">
					<address>
					  <b class="ng-binding">Висящи кабели</b><br>
					  <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
					  <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
					</address>
				  </div>
				</li>
				<li class="media">
				  <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
					<!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
				  </a>
				  <div class="media-body">
					<address>
					  <b class="ng-binding">Висящи кабели</b><br>
					  <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
					  <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
					</address>
				  </div>
				</li>
				<li class="media">
				  <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
					<!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
				  </a>
				  <div class="media-body">
					<address>
					  <b class="ng-binding">Висящи кабели</b><br>
					  <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
					  <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
					</address>
				  </div>
				</li>
			</ul>
			<br/>
			<h4>Последно подадени сигнали</h4>
			<ul class="media-list"> 
				<li class="media">
				  <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
					<!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
				  </a>
				  <div class="media-body">
					<address>
					  <b class="ng-binding">Висящи кабели</b><br>
					  <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
					  <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
					</address>
				  </div>
				</li>
				<li class="media">
				  <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
					<!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
				  </a>
				  <div class="media-body">
					<address>
					  <b class="ng-binding">Висящи кабели</b><br>
					  <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
					  <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
					</address>
				  </div>
				</li>
				<li class="media">
				  <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
					<!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
				  </a>
				  <div class="media-body">
					<address>
					  <b class="ng-binding">Висящи кабели</b><br>
					  <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
					  <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
					</address>
				  </div>
				</li>
			</ul>
			
		</div>
