	
    <div class="block">

        <div style="float: left; width: 40%">
            <h1>Какво е Grada.me</h1>
            <p>
                We truly believe that every individual can change the world by doing small things and
                changing their own community.

                That is why we created a platform for the participation of citizens=heroes in problem solving of
                their communities, with a focus on removing bureaucratic obstacles that are often daunting for many.
            </p>

            <br/><br/>

            <form action="">
                <input type="text" placeholder="Намери подадени сигнали по адрес" />
                <button>Намери</button>
            </form>
        </div>
        <div style="float: right; width: 50%;">
            <h3>1. Намери проблем</h3>
            Градски проблеми, които те притесняват
            <br/>
            <h3>2. Подай сигнал</h3>
            Чрез мобилното приложение или уеб сайта.
            <br/>
            <h3>3. Виж</h3>
            Проблемите отстранени от власите или се организирай със съсеси и отстрани проблмите сам.
        </div>
        <br style="clear:both;" />
    </div>

    <hr/>

    <div class="block">

        

        <div style="">
            <h1>Как работи?</h1>
            <p>
                The process is really simple. Report an issue using the Heroj app or this website, get as many people as
                you can to vote for it to get resolved, and see it solved by the local authorities; Platform will handle
                the boring stuff for you.
            </p>
        </div>

        <div class="clear"></div>
    </div>

    <hr/>

    <div class="block">
        <h1>Наши партньори</h1>
    </div>

    <hr/>