
<!-- TODO add fitlers, signals list and map -->

<div class="row">
    <form action="" class="form-inline" role="form">
    <div class="col-xs-6">
        <input type="text" placeholder="Намери подадени сигнали по адрес" size="40" class="form-control input-sm" id="autocomplete"/> 
        <button class="btn btn-default btn-sm ">Покажи</button>
    </div>
    <div class="col-xs-6">
        <label>Филтрирай по:</label>
        <select class="form-control input-sm">
            <option value=""> Тип</option>
            <option ng-repeat="signalType in signalTypes" value="{{ signalType }}" >{{ signalType }}</option>
        </select><br>
    </div>
    </form>
</div>
<br/>
<div>
    <div style="width: 30%; float: left;">

        {{ signals.length }} резултата:
        <ul>
             <li data-ng-repeat="signal in signals">
                <img ng-show="signal.images[0]" src="/img/signals/{{ signal._id + '/' + signal.images[0] }}" width="50" height="50" style="float: left; padding-right: 10px">
                <b>{{ signal.type }}</b>
                <br/>
                адрес: {{ signal.address }}
                <br/>

                {{ signal.date_created }} сигнализирано от <a href="/users/{{ signal.author }}">authorname: {{ signal.authorName }}</a><br/>
                status:     {{ signal.status }}
                <br/>
                <a href="{{ signal._id }}">повече</a>
            </li>
            
        </ul>
    </div>
    <google-map 
        center="map.center" 
        zoom="map.zoom" 
        options="map.options"
        draggable="true"
        pan="true"
        control="map.control"
        style="width: 70%; float: right;"
    ></google-map>
    <marker coords='map.center'>
    </marker>
    <br>


</div>