<div data-ng-init="init()">
 
  <h2>Подай сигнал</h2>
 
  <form>
    <p ng-show="error" class="text-danger">{{ error }}</p>
    <textarea ng-model="signal.description" placeholder="Описание" class="form-control"></textarea><br>
    
	<select ng-model="signal.type" class="form-control">
    	<option value="">Избери Тип</option>
    	<option ng-repeat="signalType in signalTypes" value="{{ signalType }}" >{{ signalType }}</option>
    </select><br>

	<input type="file" ng-model="signal.images" multiple  class="form-control"><br>
    <ul>
        <li ng-repeat="file in signal.images">{{file.name}}</li>
    </ul>

    
	<input type="text" ng-model="signal.address" placeholder="Адрес" class="form-control" id="autocomplete"><br>
	<p>{{ signal.location }}</p>

    <google-map 
    	center="map.center" 
    	zoom="map.zoom" 
        options="map.options"
        draggable="true"
        pan="true"
        control="map.control"
    ></google-map><br>


    <input type="button" ng-click="save()" value="Сигнализирай" class="btn btn-default" />
	
  </form>
 
</div>