<div>
 
  <h2>Подай сигнал</h2>
 
  <form ng-submit="save()">
    <p ng-show="error" class="text-danger">{{ error }}</p>
	<input type="text" ng-model="signal.title" placeholder="Заглавие" class="form-control"><br>
    <select ng-model="signal.type" class="form-control">
    	<option value="">Избери Тип</option>
    	<option ng-repeat="signalType in signalTypes" value="{{ signalType }}" >{{ signalType }}</option>
    </select><br>
    <textarea ng-model="signal.description" placeholder="Описание" class="form-control"></textarea><br>
    
    <google-map 
    	center="map.center" 
    	zoom="map.zoom" 
        options="map.options"
        pan="true"
        control="map.control"
    ></google-map><br>


    <input type="submit" value="Сигнализирай" class="btn btn-default" />
	
  </form>
 
</div>