<div class="row signals-view">
  <div class="col-xs-12 col-sm-4 left-pane">
    <h3>{{ signal.type }}</h3>
    <div>{{ signal.date_created }}</div>
    <div class="btn-group btn-group-justified">
      <a class="btn btn-sm btn-default active">отворен</a>
      <a class="btn btn-sm btn-warning">работи се</a>
      <a class="btn btn-sm btn-success">решен</a>
    </div>
    <div>{{ signal.address }}</div>
    <div>description : {{ signal.description }}</div>
    <div class="thumbnail">
      <img data-ng-src="/img/signals/{{ signal._id }}/{{ signal.images[0] }}" >
    </div>
    <div class="thumbnails">
      <div ng-repeat="image in signal.images">
        <a href="#" class="thumbnail">
          <img data-ng-src="/img/signals/{{ signal._id }}/{{ image }}">
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 right-pane">
    <ul>
      <li>type : {{ signal.type }}</li>
      <li>status : {{ signal.status }}</li>
      <li>address : {{ signal.address }}</li>
      <li>location : {{ signal.location }}</li>
    </ul>
    <div class="action-block-assign">
    </div>
    <div class="action-block-confirm">
    </div>
    <div class="action-block-comment">
      <form>
        <div class="form-group">
          <textarea class="form-control" placeholder="Коментирай проблема"></textarea>
        </div>
        <button type="submit" class="btn btn-default pull-right">Добави коментара</button>
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="history">
      <h4>История на проблема</h4>
      <ul>
        <li class="history-item">
          <div class="type"></div>
          <div class="content"></div>
          <div class="timestamp"></div>
        <li>
      </ul>
    </div>
  </div>
</div>
