@import url(http://fonts.googleapis.com/css?family=Anaheim|Sniglet|Source+Code+Pro|Averia+Gruesa+Libre|Open+Sans&subset=latin,cyrillic);

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fcfbf9 url("../img/bg.png") no-repeat bottom left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 70px;
}

.navbar {
  background: #FCFBF9;
  /*border-color: #FCFBF9;*/
  /*box-shadow: 0 10px 15px rgba(252, 251, 249, 1.0); /* TODO: find better way to separate visually fixed navbar */
}

.navbar-brand img {
  width: 80px;
  vertical-align: top;
}

a {
  cursor: pointer;
}

a.avatar {
  padding-top: 10px!important;
  padding-bottom: 5px!important;
}

ul {
  padding: 0px;
}

ul > li {
  list-style: none;
}

.avatar img {
  width: 32px;
}

footer {
  text-align: center;
  padding: 50px 0px 30px 0px;
}

.angular-google-map-container {
  height: 362px;
}

.map-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.map-addon {
  padding: 5px 10px;
  background: #E5E3DF;
  color: #756E5F;
  border-top: 1px solid white;
  margin-bottom: 25px;
}

.results-count {
  margin-top: 25px;
  margin-bottom: 10px;
}

/*
.container {
  background: white;
  border: 1px solid #D5D0BD;
  border-color: #E5E3DF;
  padding-right: 25px;
  padding-left: 25px;
}
*/

.search-pane {
  margin-top: 25px;
}

.auth-forms {
  margin-bottom: 25px;
}

label { display: none; }

.btn-success {
}

address {
  margin-bottom: 0px;
}

.thumbnail {
  margin-bottom: 0px;
  max-width: 60px;
  min-width: 60px;
  min-height: 60px;
}

.media {
  margin-top: 10px;
}

#page-signals .sidebar {
  width: 38.2%;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  background: #ffffff;
  overflow-y: auto;
  z-index: 1;
  border-right: 1px solid #E5E3DF;
}

#page-signals .map-container {
  position: fixed;
  top: 50px;
  left: 38.2%;
  right: 0;
  bottom: 0;
  heighth: 100%;
  z-index: 0;
  margin: 0;
}

#page-signals .angular-google-map,
#page-signals .angular-google-map-container {
  width: 100%;
  height: 100%;
}

#page-signals .filter-pane {
  padding: 15px 20px;
  background: #FCFBF9;
  border-bottom: 1px solid #E5E3DF;
}

#page-signals .filter-pane .form-control {
}

#page-signals .meta-info {
  padding: 5px 0;
  margin: 0 20px;
  border-bottom: 1px dashed #E5E3DF;
  color: #ABA9A6;
}

#page-signals .media-list {
  padding: 10px 20px;
}

#page-signals .media-list .media {
}

.form-group {
  margin-bottom: 5px;
}

.form-group:last-child {
  margin-bottom: 0;
}
