

	$panel-bg: #fcfbf9;
	$text-color-light: #999999;

	$gradame-color-pink: #e2cfcf;
	$gradame-color-orange: #fc6840;
	$gradame-color-orange-shadow: rgba(252, 104, 64, 0.6);

	// Each action block uses specific color for form's submit button.
	// Same color is then used in the corresponding history item.
	$action-block-assign-color: #f2c42e;
	$action-block-confirm-color: #eb6c57;
	$action-block-comment-color: #999999;