<div class="col-sm-8">
  <h2>Какво е Grada.me</h2>
  <br/>
  <p>
    Искрено вярваме, че всеки един от нас може да промени средата, в която живее, бъдейки активен гражданин и допринасяйки малко по малко към общото благо.
  </p>
  <p>
    С цел да улесним и да насърчим гражданската активност при решаването на проблемите в градската среда създадохме инструмент, който позволява бързо и лесно:
  </p>
  <br/>
  <div class="row">
    <a class="col-xs-4 text-center text-success" data-ui-sref="signals-new">
      <div style="font-size: 48px; margin: 10px;" class="fa fa-cloud-upload"></div>
      <h4>Подай сигнал за нередност</h4>
    </a>
    <a class="col-xs-4 text-center text-info" data-ui-sref="signals">
      <div style="font-size: 48px; margin: 10px;" class=" fa fa-map-marker"></div>
      <h4>Информирай се за проблемите около теб</h4>
    </a>
    <a class="col-xs-4 text-center text-primary " data-ui-sref="home">
      <div style="font-size: 48px; margin: 10px;" class="fa fa-users"></div>
      <h4>Следи и участвай в решаването им</h4>
    </a>

  </div>

</div>

<div class="col-sm-4">
  <br/>
  <h4>Последно решени проблеми</h4>
  <ul class="media-list  signals-list">
    <li class="media">
      <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
        <!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
      </a>
      <div class="media-body">
        <address>
          <b class="ng-binding">Висящи кабели</b><br>
          <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
          <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
        </address>
      </div>
    </li>
    <li class="media">
      <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
        <!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
      </a>
      <div class="media-body">
        <address>
          <b class="ng-binding">Висящи кабели</b><br>
          <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
          <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
        </address>
      </div>
    </li>
    <li class="media">
      <a href="#/signals/533f2b48e509695d545a6808" class="pull-left thumbnail">
        <!-- ngIf: signal.images[0] --><img ng-if="signal.images[0]" data-ng-src="/img/signals/533f2b48e509695d545a6808/0.jpg" class="media-object ng-scope" src="/img/signals/533f2b48e509695d545a6808/0.jpg"><!-- end ngIf: signal.images[0] -->
      </a>
      <div class="media-body">
        <address>
          <b class="ng-binding">Висящи кабели</b><br>
          <small class="ng-binding">ул. „Люлин планина“ 5, София, България</small><br>
          <small class="ng-binding">2014-04-04T21:59:36.704Z</small>
        </address>
      </div>
    </li>
  </ul>
  <br/>
  <div data-last-signals> </div>
</div>
