<div class="page-content">
  <h2>Какво е Grada.me</h2>
  <br/>
  <p>
    Искрено вярваме, че всеки един от нас може да промени средата, в която живее, бъдейки активен гражданин и допринасяйки малко по малко към общото благо.
  </p>
  <p>
    С цел да улесним и да насърчим гражданската активност при решаването на проблемите в градската среда създадохме инструмент, който позволява бързо и лесно:
  </p>
  <br/>
  <div class="row">
    <a class="col-xs-4 text-center text-success" data-ui-sref="signals-new">
      <div style="font-size: 48px; margin: 10px;" class="fa fa-cloud-upload"></div>
      <h4>Подай сигнал за нередност</h4>
    </a>
    <a class="col-xs-4 text-center text-info" data-ui-sref="signals">
      <div style="font-size: 48px; margin: 10px;" class=" fa fa-map-marker"></div>
      <h4>Информирай се за проблемите около теб</h4>
    </a>
    <a class="col-xs-4 text-center text-primary " data-ui-sref="home">
      <div style="font-size: 48px; margin: 10px;" class="fa fa-users"></div>
      <h4>Следи и участвай в решаването им</h4>
    </a>
  </div>
</div>
