<div class="page-content">
  <h3>Потребителски Вход</h3>
  <form ng-submit="login()">
    <p ng-show="error" class="text-danger">{{ error }}</p>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Парола" class="form-control"><br>
    <input type="submit" value="Вход" class="btn btn-success" />
    <a href="/oauth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/oauth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google </a>
  </form>
</div>
