<div class="page-content">
  <h1>Регистрация</h1>
  <form ng-submit="register()" name="form">
    <input type="text" ng-model="user.name" placeholder="Име" name="name" class="form-control"><br>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Парола" class="form-control"><br>
    <input type="submit" value="Регистрирай се" class="btn btn-primary" />
    <a href="/oauth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/oauth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google </a>
  </form>
</div>
