doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body(data-ng-app='gradame')
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      include ./default/header.jade
    section.container
      section.content
        block content
    footer
      include ./default/footer.jade

    //- Scripts
    //- Other
    script(src="lib/lodash/dist/lodash.js")
    script(src="lib/q/q.js")
    //- jQuery
    script(src="lib/jquery/dist/jquery.js")
    script(src="lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&&libraries=places")
    //- Angural
    script(src="lib/angular/angular.js")
    script(src="lib/angular-ui-router/release/angular-ui-router.js")
    script(src="lib/angular-resource/angular-resource.js")
    script(src="lib/angular-google-maps/dist/angular-google-maps.js")
    script(src="lib/ngstorage/ngStorage.js")
    //- not managed by bower
    script(src="js/other/angular-file/angular-file.js")
    //- APP
    script(src="js/app.js")
    //- services
    script(src="js/services/token.js")
    script(src="js/services/auth.js")
    script(src="js/services/signal.js")
    script(src="js/services/maps.js")
    //- controllers
    script(src="js/controllers/signals.js")
    script(src="js/controllers/signals.new.js")
    script(src="js/controllers/signals.view.js")
    script(src="js/controllers/nav.js")
    script(src="js/controllers/auth.js")
    //- directives
    script(src="js/directives/lastSignals.js")
